:root {
  --letra-principal: "Staatliches", sans-serif;
  --primario: #34eba1;
  --blanco: var(--blanco);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Globales*/

body {
  background-color: var(--primario);
  font-family: var(--letra-principal);
  font-size: 16px;
  line-height: 1.5;
}

p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: black;
  font-family: var(--letra-principal);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

span {
  font-size: 2rem;
  color: black;
}

/*Header*/
.header {
  display: flex;
  justify-content: center;
}

.header span {
  display: flex;
  justify-content: center;
}

.header_logo {
  margin: auto;
}

/*Footer*/

.footer {
  background-color: darkgray;
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__estilos {
  font-family: var(--letra-principal);
  text-align: center;
  font-size: 2.2rem;
}

/*NAVEGACION*/

.navegacion {
  background-color: darkgray;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navegacion_enlace {
  font-family: var(--letra-principal);
  color: blueviolet;
  font-size: 30px;
}

.navegacion_enlace--home,
.navegacion_enlace:hover {
  color: white;
}
/*Grid*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Productos*/
.producto {
  background-color: #32a877;
}

.producto_info {
}

.producto_imagen {
}

.producto_nombre {
}

.producto_precio {
}
